/* Font Apply */
body {
	font-family: 'Barlow', sans-serif;
}
@font-face {
    font-family: 'Andale-Mono';
    src: url('fonts/AndaleMono.eot');
    src: url('fonts/AndaleMono.eot?#iefix') format('embedded-opentype'),
        url('fonts/AndaleMono.woff2') format('woff2'),
        url('fonts/AndaleMono.woff') format('woff');
}
.fw-400 {
	font-weight: 400;
}
.fw-600 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}

/* Custom CSS */
.nav-logo {
	position: absolute;
}
.hero-section {
	background: url(../img/hero-img.png);
	min-height: 125vh;
	background-size: cover;
	background-position: center;  
}
.hero-text {
    margin-top: 38vh;
}
.hero-text h1 {
    font-size: 3.5sem;
    letter-spacing: 1.2px;
}
.hero-text h4 {
    letter-spacing: .6px;
}
.arrow {
	color: #fff;
  	position: relative;
  	top: 35vh;
  	left: 50%;
  	margin-left:-20px;
  	width: 40px;
  	height: 40px;
}
.bounce {
  	animation: bounce 3s infinite;
}
.arrow i {
    font-size: 3rem;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.section-2 {
	background-image: linear-gradient(0deg, #6E8EFB 0%, #A777E3 76%);
  	padding: 0 20px 20px;
  	position: relative;
  	color: #fff;
  	min-height: 50vh;
  	z-index: 10;
}
.section-2:after {
  transform: skewY(-7deg);
  transform-origin: 100% 0;
  background: #A777E3;
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: -24vh;
  height: 24vh;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.carousel-link {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: .5spx;
}
.carousel-link li {
    margin-left: 1.5srem;
    margin-right: 1.5srem;
}
.carousel-link li a {
	color: #ffffff;
	position: relative;
}
.carousel-link .active {
	font-weight: 600;
}
.carousel-conent {
	font-family: 'Andale-Mono';
	border: 1px solid #ffffff;
    border-radius: 8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0 5px;
    visibility: hidden;
   	opacity: 0;
  	transition: all .5ss;
}
.carousel-conent.slick-active {
	visibility: visible;
	opacity: 1;
  	transition: all .5ss;
}
.juke.active:after, .jukestrat.active:after, .strat.active:after {
    position: absolute;
    content: '';
    top: 64px;
    left: 50%;
    background: #fff;
    height: 25px;
    width: 1px;
}
.juke.active:before, .jukestrat.active:before, .strat.active:before {
    position: absolute;
    content: '';
    top: 58px;
    left: 49%;
    background: #fff;
    height: 6px;
    width: 6px;
    border-radius: 25px;
}
.promise-section {
    z-index: 10;
    position: relative;
}
.icon-col {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
}
.icon-col h3 {
    margin-top: 2rem;
}
.dancing-dude {
	background: url(../img/dancing-dude.png);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative; 
}
.dancing-dude:before {
  transform: skewY(7deg);
  transform-origin: 100% 0;
  background: #ffffff;
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 24vh;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}
.our-team {
    background-image: linear-gradient(-180deg, rgba(143,129,237,0.00) 23%, #8F81ED 40%);
    min-height: 175vh;
    margin-top: -70vh;
    z-index: 999;
    position: relative;
    padding-top: 70vh;
}
.founders {
    margin-top: 4rem;
}
.founders-img {
    width: 85%;
    -webkit-transition: width .5ss ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}
.founders-img.active {
    width: 95%;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}
.founder-conent {
	border: 1px solid #ffffff;
    border-radius: 8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    position: relative;
    margin-top: 3rem;
    color: #fff;
}
.christie:after {
    position: absolute;
    content: '';
    top: -40px;
    left: 50%;
    background: #fff;
    height: 40px;
    width: 1px;
}
.christie:before {
    position: absolute;
    content: '';
    top: -42px;
    left: 49.6%;
    background: #fff;
    height: 6px;
    width: 6px;
    border-radius: 25px;
}
.david:after {
    position: absolute;
    content: '';
    top: -40px;
    left: 16.4%;
    background: #fff;
    height: 40px;
    width: 1px;
}
.david:before {
    position: absolute;
    content: '';
    top: -42px;
    left: 16%;
    background: #fff;
    height: 6px;
    width: 6px;
    border-radius: 25px;
}
.glenn:after {
    position: absolute;
    content: '';
    top: -40px;
    left: 83.3%;
    background: #fff;
    height: 40px;
    width: 1px;
}
.glenn:before {
    position: absolute;
    content: '';
    top: -42px;
    left: 83%;
    background: #fff;
    height: 6px;
    width: 6px;
    border-radius: 25px;
}
.social-icon {
    display: inline-block;
    margin-left: 1rem;
}
.social-icon img {
    max-width: 24px;
    margin-top: -5px;
}
.founder-tabs li a {
    color: #D8D8D8;
    padding-left: 0;
    padding-right: 16px;
    font-weight: 500;
    font-size: 1.1em;
}
.founder-tabs li a:hover {
	color: #ffffff;
}
.founder-tabs li a.active {
    color: #ffffff;
}
.founder-tabs li a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    transition: width .3s;
}
.founder-tabs li a:hover::after, .founder-tabs li a.active:after {
    width: 100%;
}
.our-mascot {
	background: ;
}
.our-mascot h1 {
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);	
}
.our-mascot p {
    font-size: 1.7em;
    font-weight: 500;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}
.contact-top {
	background: url(../img/contact-img-bg.png);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative; 
}
.contact-bottom{
	background-image: linear-gradient(0deg, #8F81ED 41%, rgba(143,129,237,0.00) 79%);
    min-height: 150vh;
    margin-top: -100vh;
    z-index: 999;
    position: relative;
    padding-top: 95vh;
}
.white-outline {
    background: transparent;
    color: #ffffff;
    border-color: #ffffff;
    padding: .8em 2em;
    font-size: 1.2em;
}
.white-outline:hover {
    background: #ffffff;
    color: #8F81ED;
    border-color: #8F81ED;
}
.form-control {
    padding: 1.5srem 1rem;
}
.form-control:focus {
	border-color: #8F81ED;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
}
footer {
    background: #3F3F3F;
    color: #ffffff;
}
footer a {
    color: #ffffff;
}
.footer-social li {
	display: inline-block;
	list-style: none;
}
.footer-social li a {
    display: block;
    font-size: 1.8em;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 3px solid #fff;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 100%;
    line-height: 1.9em;
}
.footer-social li a:hover {
	background: #ffffff;
	color: #3F3F3F;
}
.copyright {
	font-size: 1.5sem;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.hero-text h1 {
    	font-size: 2.5sem;
    }
    .hero-text h4 {
    	font-size: 1.07em;
	}
	.nav-logo {
		width: 100%;
	}
	.navbar-brand {
    	text-align: center;
    	margin: 0 auto;
	}
	.footer-social li a {
	    font-size: 1em;
	    margin-left: 0rem;
	    margin-right: 1rem;
	    border: 1px solid #fff;
	    width: 2rem;
	    height: 2rem;
	    border-radius: 100%;
	    line-height: 1.9em;
	}
}